body
{
	background: #CCC;
}

#Header .a:hover
{
	color: #FFF;
}

#bg-img
{
	background-size: 1000%;
	background-repeat: no-repeat;
	min-width: 500px;
}

#portrait {
  border-radius: 50%;
}

#About
{
margin-top: -200px;
}

#About span
{
  padding: 10px 20px 10px 20px; 

}

#About hr
{
  border-width: 3px;
  margin-top: 6px;
}

#Skills span
{
  padding: 10px 20px 10px 20px; 
}

#Skills hr
{
  border-width: 3px;
  margin-top: 6px;
}

.card {
  padding: 10px 20px 10px 20px;
  text-align: center;
}


#Education
{
margin-top: -200px;
}

#Education span
{
  padding: 10px 20px 10px 20px; 
}

#Education hr
{
  border-width: 3px;
  margin-top: 06px;
}

#Experience
{
margin-top: -200px;
}

#Experience span
{
  padding: 10px 20px 10px 20px; 
}

#Experience hr
{
  border-width: 3px;
  margin-top: 06px;
}

#Experience .card
{
  border-top: 3px solid grey;
}

#Publications
{
margin-top: -200px;
}

#Publications span
{
  padding: 10px 20px 10px 20px; 
}

#Publications hr
{
  border-width: 3px;
  margin-top: 06px;
}