body
{
  background: #CCC;
}

.icon-cog {
  color: black;
}

.fa-cog {
  color: black;
}

#Header .a:hover
{
  color: #FFF;
}

#bg-img
{
  background-size: 1000%;
  background-repeat: no-repeat;
  min-width: 500px;
  text-align:center;
}

#portrait {
  border-radius: 50%;
}

#About
{
margin-top: -200px;
}

#About span
{
  padding: 10px 20px 10px 20px; 

}

#About hr
{
  border-width: 3px;
  margin-top: 6px;
}

#Skills span
{
  padding: 10px 20px 10px 20px; 
}

#Skills hr
{
  border-width: 3px;
  margin-top: 6px;
}

.card {
  padding: 10px 20px 10px 20px;
  text-align: center;
}


#Education
{
margin-top: -200px;
}

#Education span
{
  padding: 10px 20px 10px 20px; 
}


#BtnSkills span
{
  padding: 10px 20px 10px 20px; 
}

#BtnDetails span
{
  padding: 10px 20px 10px 20px; 
}

#Education hr
{
  border-width: 3px;
  margin-top: 06px;
}

#Experience
{
margin-top: -200px;
}

#Experience span
{
  padding: 10px 20px 10px 20px; 
}

#Experience hr
{
  border-width: 3px;
  margin-top: 06px;
}

#Experience .card
{
  border-top: 3px solid grey;
}

#Publications
{
margin-top: -200px;
}

#Publications span
{
  padding: 10px 20px 10px 20px; 
}

#Publications hr
{
  border-width: 3px;
  margin-top: 06px;
}

/* The dropdown container */
.AddSkills {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.AddSkills .AddSkillsbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
<<<<<<< HEAD
  padding: 14px 16px;
=======
  padding: 10px 20px 10px 20px; 
>>>>>>> master
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.AddSkills:hover .AddSkillsbtn {
  color: white;
  background-color: black;
}

/* Dropdown content (hidden by default) */
.AddSkills-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.AddSkills-content a {
  float: none;
  color: black;
<<<<<<< HEAD
  padding: 12px 16px;
=======
  padding: 10px 20px 10px 20px;
>>>>>>> master
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.AddSkills-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.AddSkills:hover .AddSkills-content {
  display: block;
} 