.justify {
    text-align: justify;
    text-justify: inter-word;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar_0 {
  width: 70%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myBar_1 {
  width: 5%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myBar_2 {
  width: 7%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#div
{
    border-radius: 5px;
    }
#Personal {
	border-radius: 5px 10px 5px 10px/ 10px 5px 10px 5px;
	border-radius: 5px;
	border-radius: 5px / 10px;
}
#name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}
* {
	margin: 0px;
	padding: 0px;
}
h1 {
	font: bold 20px verdana, sans-serif;
}
h2 {
font: bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption,hgroup{
display: block;
}
body {
text-align: center;
}
#agrupar {
	width: 960px;
	margin: 15px auto;
	text-align: left;
}
#cabecera {
	background: #FFFBB9;
	border: 1px solid #999999;
	padding: 20px;
}
#menu {
	background: #CCCCCC;
	padding: 5px 15px;
}
#menu li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px verdana, sans-serif;
}

#seccion {
	float: left;
	width: 660px;
	margin: 20px;
}
#columna {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	font-size: 10px;
	font-family: Verdana, sans-serif;
	background: #CCCCCC;
}
#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}

#lastmodified {
	clear: both;
	text-align: right;
	padding: 5px;
	border-top: 1px solid #999999;
	font: italic 10px verdana, sans-serif;
}


article {
	background: #FFFBCC;
	border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 15px;
}
article footer {
	text-align: right;
}
time {
	color: #999999;
}
figcaption {
	font: italic 14px verdana, sans-serif;
}

#principal {
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid #999999;
	background: #DDDDDD;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	-moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;

	background: -webkit-linear-gradient(top, #FFFFFF, #006699);
	background: -moz-linear-gradient(top, #FFFFFF, #006699);
	
	outline: 2px dashed #000099;
	outline-offset: 15px;

    moz-transition: -moz-transform 1s ease-in-out 0.5s;
    -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
}
#titulo {
	font: bold 36px MiNuevaFuente, verdana, sans-serif;
	text-shadow: rgb(0,0,150) 3px 3px 5px;
}
@font-face {
	font-family: 'MiNuevaFuente';
	src: url('font.ttf');
}
#principal:hover{
     -moz-transform: rotate(5deg);
     -webkit-transform: rotate(5deg);
}

 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.Experience {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.Experience .Experiencebtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .Experience:hover .Experiencebtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.Experience-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.Experience-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.Experience-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Experience:hover .Experience-content {
  display: block;
} 

/*  New drop down */ 

/* The dropdown container */
.Education {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.Education .Educationbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .Education:hover .Educationbtn {
  background-color: red;
}


/* Dropdown content (hidden by default) */
.Education-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.Education-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.Education-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.Education:hover .Education-content {
  display: block;
}
/* Show the figure as a cercle */
.clipped {
    clip-path: circle();

}

/* Columns */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  
  padding: 16px;
  text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }
}